doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= 'Poet Demo'
    block css
      link(rel='stylesheet', href='/css/main.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') Poet Demos
    .wrap
      .container
        .row
          .col-md-8
            block content
          .col-md-4
            .well.sidebar-nav
              ul.nav.nav-list
                li.nav-header categories
                  each cat in getCategories()
                    li
                      a(href=categoryURL(cat)) #{cat}
                li.nav-header tags
                  each tag in getTags()
                    li
                    a(href=tagURL(tag)) #{tag}

                    script(src='/js/vendor/jquery.min.js')
                    script(src='/js/main.min.js')
